# Lonca PLP Mobile App - Göz Ardı Edilecek Dosyalar

# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
web-build/
expo-env.d.ts






npm-debug.*
yarn-debug.*
yarn-error.*


.DS_Store
*.pem


# typescript
*.tsbuildinfo

# build outputs
build/

app-example
